<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <div>
            <button onclick=locaiton.href="/Home/Index">Home</button>
            @RenderBody()
        </div>
    </body>
</html>
